.Contact {
    background-color: #d24d57;
    height: 300px;
    margin-top:50px;
    }
    
    .Contact h1 {
      position: relative;
      top: 20px;
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-size: 43px;
    font-family:  "brandon-grotesque", Helvetica, Arial, sans-serif;
    }
    
    .Contact p {
      position: relative;
      top: 20px;
    color:white;
    text-align: center;
    font-family:  "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 25px;
    }
    
    .Icons {
        color:white;
      position: relative;
      text-align: center;
      left: 580px;
      top: 30px;
      margin: 0 20px;
    }