.Portfolio1 {
    background-color:#f8f8f8;
    border-bottom: 1px solid #f1f1f1;
    height: 300px;
  }
  .Portfolio {
    margin:0;
    padding:90px 0px 25px;
    color:#3b3838;
    text-align: center;
    font-size:50px;
    font-family: Raleway, sans-serif;
  }
  p {
  color:#706f6f;
  font-family: Raleway, sans-serif;
  font-size:25px;
  text-align: center;

}

@media only screen and (max-width: 900px) { 
  .Portfolio {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
