.Header1 {
    background-size: cover;
        height: 700px;
        background-image: url(/src/Images/james-harrison-vpOeXr5wmR4-unsplash.jpg);
    background-color:#d24d57;
    background-blend-mode: multiply;
    background-position: 30% 20%;
    }

.HeaderH1 {
        position: relative;
        margin-top:0;
        color:white;
        text-align: center;
        font-size: 60px;
        text-transform: uppercase;
        top:180px;
        font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    }

     .Header1 h2{
        position: relative;
        margin-top:0;
        color:white;
        text-align: center;
        font-size: 25px;
        top:200px;
        font-family: "ff-meta-serif-web-pro", Georgia, serif;
        
    }
    .button1 {
       
        margin: 300px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 25px 90px;
        background-color:transparent;
        opacity: 0.9;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none;
        font-family: "ff-meta-serif-web-pro", Georgia, serif;
        font-size: 22px;
        transition-duration: 0.4s;
        cursor: pointer;
        text-transform: uppercase;
        cursor:pointer;

    }
    
    button:hover {
        background-color: #fff;
        color: #d24d57;
    }

  
    @media only screen and (max-width: 900px) {
  .Header1 h2 {
      font-size: 20px;
  }
  .button1 {
    padding: 15px 50px;
  }
    
    }